@page "/PageTest"
@model ExamProject.Pages.PagesBuyer.PageCartModel
<h2>Моя корзина</h2>

@if (Model.Cart == null || Model.Cart.Items.Count == 0) {
    <h4>Корзина пуста</h4>
}
else {
    <table class="table table-striped table-hover table-bordered shadow-lg rounded">
        <thead>
            <tr>
                <th>Товар</th>
                <th>Количество</th>
                <th>Цена</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model.Cart.Items) {
                <tr>
                    <td>@item.Product.Name</td>
                    <td>@item.Quantity</td>
                    <td>@item.Product.Price</td>
                    <td>
                        <div class="text-end">
                            <form method="post" asp-page-handler="Delete" asp-route-id="@item.Id">
                                <button type="submit" class="btn btn-danger">Удалить</button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h2>Общая стоимость: @Model.Summa</h2>

      <div class="text-end">
        <a class="btn btn-primary" asp-page="Order" asp-route-summa="@Model.Summa" style="margin:5px">Оформить заказ</a>
        </div>
}

<div class="text-end">
    <a class="btn btn-primary" asp-page="/Index" style="margin:5px">Назад</a>
</div>
